{{#each signatures}}
	<ul class="tsd-signatures {{../cssClasses}}">
		<li class="tsd-signature tsd-kind-icon">{{> member.signature.title }}</li>
	</ul>

	<ul class="tsd-descriptions">
		<li class="tsd-description">
			{{> member.signature.body }}
		</li>
	</ul>
{{/each}}
